.recipeDetailView {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  padding: 0 40px;
  overflow-y: auto;
  height: 100%;
}

.recipeDetailView h2 {
  font-size: 2rem;
  line-height: 1.3;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 1rem;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  margin-top: 40px;
}

.ingredients {
  font-size: 1rem;
}

.instructions {
  font-size: 1rem;
}
@media screen and (max-width: 480px) {
  .body {
    display: flex;
    flex-direction: column;
  }
}
