.active {
  cursor: pointer;
  padding: 16px;
  background: #CA965C;
}

.inactive {
  cursor: pointer;
  padding: 16px;
  background: #876445;
}

.inactive:hover {
  background: #CA965C;
}

.selector {
  width: 100%;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: inherit;
}

.selector:first-child {
  border-radius: 10px 0 0 10px;
}

.selector:last-child {
  border-radius: 0 10px 10px 0;
}
