.active {
  cursor: pointer;
  padding: 16px;
  background: #CA965C;
  transform: translateY(-4px);
  transition: transform 500ms;
}

.inactive {
  cursor: pointer;
  padding: 16px;
  background: #876445;
  transform: translateY(-4px);
  transition: transform 500ms;
}

.inactive:hover {
  background: #CA965C;
  transform: translateY(-6px);
  transition: transform 250ms;
}

.inactive:focus-visible {
  background: #CA965C;
  transform: translateY(-6px);
  transition: transform 250ms;
}

.selector {
  width: 100%;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: inherit;
}

.selector:active {
  transform: translateY(-2px);
  transition: transform 50ms;
}

.selector:first-child {
  border-radius: 10px 0 0 10px;
}

.selector:last-child {
  border-radius: 0 10px 10px 0;
}
