.landingContainer {
  height: 100vh;
  position: relative;
  color: #F4DFBA;
}

.heroText {
  position: absolute;
  top: 25%;
  left: 12%;
}

.heroText h1 {
  font-size: 2.25rem;
  font-weight: bold;
  width: 320px;
  line-height: 2.2rem;
}

.heroText h2 {
  font-size: 1.5rem;
  font-weight: bold;
  width: 300px;
  line-height: 1.8rem;
}

.glass {
  background: linear-gradient(135deg, rgba(202, 150, 92, 0.1), rgba(202, 150, 92, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.noticeContainer {
  position: absolute;
  top: 700px;
  right: 90px;
  height: 420px;
  width: 320px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
}

.noticeText {
  font-size: 20px;
  font-weight: bold;
}

.underViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #45484A;
}
