.primary {
  background-color: #876445;
  color: var(--text-color);
}

.secondary {
  background-color: #CA965C;
  color: #F0D9BD;
}

.button {
  border-radius: 10px;
  padding: 0.625rem 1.25rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: inherit;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.bottom {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 12px;
  font-size: inherit;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
}

.top {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  transform: translateY(-4px);
  transition: transform 500ms;
}

.bottom:hover .top {
  transform: translateY(-6px);
  transition: transform 250ms;
}

.bottom:active .top {
  transform: translateY(-2px);
  transition: transform 50ms;
}

.bottom:focus-visible .top {
  transform: translateY(-6px);
  transition: transform 250ms;
}
