.primary {
  background-color: #876445;
}

.secondary {
  background-color: #CA965C;
}

.button {
  border-radius: 10px;
  padding: 0.625rem 1.25rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: inherit;
}
