.exploreContainer {
  width: 100%;
  height: calc(100vh - 260px);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
}

.recipeCards {
  height: 100%;
  overflow-y: auto;
}

.recipeView {
  height: 100%;
  overflow-y: auto;
}
