.headerContainer {
  position: fixed;
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 100;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} 

.navContainer {
  display: flex;
  gap: 2rem;
}

.navLinks {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  color: #F4DFBA;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.navLinks a:hover {
  color: #EEC373;
}
