.aboutMeContainer {
  padding: 125px 10px 0px;
}

.avatar {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 1px solid #F4DFBA;
  border-radius: 50%;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience > * {
  color: #F4DFBA;
}

.upperContainer {
  display: flex;
  justify-content: center;
  align-items: self-start;
}

.avatarContainer {
  position: relative;
  display: inline-block;
}

